
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Caveat:wght@400..700&family=Momo+Trust+Display&family=Momo+Trust+Sans:wght@200..800&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: "Alan Sans", sans-serif;
  }
}
